.dash-board-wrapper {
    width: 100%;
    /* max-width: 1120px; */
    margin: auto;
    background-color: var(--main-color4);
    min-height: 100dvh;
    box-shadow: 0 0 10px #8080804d;
    display: flex;
    flex-direction: column;
}

.admin-tag {
    padding: 19px 30px;
    background: linear-gradient(182deg,var(--main-color2) 0%, var(--main-color) 75%);
    color: white;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.admin-tag-name {
    cursor: context-menu;
}

.profile-logout-container {
    display: flex;
    gap: 14px;
}

.profile {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    color: var(--main-color3);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s all ease-in;
}

.profile:hover {
    background-color: var(--main-color3);
    color: white;
}

.profile:hover {
    box-shadow: 0 0 10px var(--main-color3);
}

.logout-btn {
    padding: 9px 30px;
    border-radius: 6px;
    font-size: 13px;
    background-color: transparent;
    transition: 0.1s all ease-in;
    color: white;
    border: 1px solid white;
}

.logout-btn:hover {
   background-color: var(--main-color3);
   color: white;
   cursor: pointer;
   box-shadow: 0 0 10px var(--main-color3);
}

.dash-board-main {
    display: flex;
    flex: 1;
}

.side-bar-wrapper {
    position: relative;
    width: 212px;
    padding-right: 5px;
    background-color: white;
    transition: 0.4s all ease;
}

.side-bar-wrapper.side-bar-close {
    width: 0px;
    padding: 0;
}

.side-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 5px;
    gap: 5px;
    height: 100%;
    overflow: hidden;
}

.side-bar-nav-btn {
    position: absolute;
    right: 0;
    transform: translate(100%);
    top: 0px;
    width: 50px;
    height: 39px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--main-color2);
    color: #fff;
    transition: 0.2s all ease-in;
    z-index: 99999;
}

.side-bar-nav-btn:hover {
    background-color: var(--main-color3);
    cursor: pointer;
}

.router-wrapper {
    margin: 10px;
    height: calc(100dvh - 97px);
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    overflow: auto;
}

.router-container {
    overflow: auto;
    height: stretch;
    padding: 18px 12px 0px 12px;
}

.side-bar-link {
    text-decoration: none;
    width: 207px;
    color: black;
    padding: 20px 10px;
    font-size: 18px;
    transition: 0.2s all ease-in;
    border-left: 5px solid transparent;
    border-radius: 0 10px 10px 0;
}

.side-bar i {
    margin-right: 10px;
}


.side-bar-link:hover {
    background-color: #eaeaea;
    color: black;
    border-left: 5px solid var(--main-color);
}

.side-bar-link.active {
    background-color: var(--main-color2);
    color: white;
    background: linear-gradient(181deg,var(--main-color3) 0%, var(--main-color2) 75%);
    border-left: 5px solid var(--main-color);
}

.router-container::-webkit-scrollbar {
  width: 6px;
}

.router-container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.router-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color3);
  border-radius: 3px;
}

.router-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color2);
}