.submit-btn {
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: var(--main-color2);
    color: white;
    border-radius: 5px;
}

.error-msg {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: grey;
}

.heading {
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}
