.heading {
    font-size: 25px;
    text-align: center;
}

.question-paper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 20px;
}

.question-paper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    border-radius: 6px;
    transition: 0.2s all ease-in;
    box-shadow: 0 0 5px var(--main-color3);
    border-left: 5px solid var(--main-color3);
}

.question-paper-container:hover {
    background-color: var(--main-color4);
}

.question-paper-title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
}

.question-paper-navigation {
    display: block;
    padding: 10px 32px;
    background-color: var(--main-color3);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.2s all ease;
}

.question-paper-navigation:hover {
    background-color: var(--main-color);
}

.questionNotFound {
    text-align: center;
    margin-top: 30px;
    color: #afadad;
}

.question-container-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid var(--main-color);
    border-right: 6px solid transparent;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.progress-search-container {
    display: flex;
    justify-content: space-between;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    background-color: #f6f6f6;
    padding: 5px 9px;
    border-radius: 9px;
    border: 1px dashed var(--main-color);
}

.completed-message {
    font-size: 20px;
    margin-right: 12px;
}