
<div *ngIf="questionPaper.length == 0" class="questionNotFound">
    {{loading ? "Loading" : "no Records Found"}}
</div>
<div *ngIf="questionPaper.length != 0" class="question-paper-wrapper">
    <div class="progress-search-container">
        <div class="search-container"></div>
        <div class="progress-container">
            <app-circle-progress [progress]="progress"></app-circle-progress>
            <p class="completed-message">Completed</p>
        </div>
    </div>
    <div *ngFor="let questionPaper of questionPaper; let i = index" class="question-paper-container">
        <div class="question-paper-title">
            <p>{{i+1}}.</p>
            <p>{{questionPaper.title}}</p>
        </div>
        <a class="question-paper-navigation" [routerLink]="['/dashboard/questionPaper/questions',questionPaper.id]">Attend</a>
    </div>
</div>