/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
/* Global Root color Pallet */
:root {
    /* --main-color: #222831;
    --main-color2: #31363F;
    --main-color3: #76ABAE;
    --main-color4: #EEEEEE; */

    --main-color: #2A2438;
    --main-color2: #4F3B78;
    --main-color3: #927FBF;
    --main-color4: #e2dfef;

    /* --main-color: #2A2438;
    --main-color2: #352F44;
    --main-color3: #5C5470;
    --main-color4: #DBD8E3; */
}
/* 
html {
    overflow-y: scroll;
} */

body {
    background-color: #f9f9f9;
}

/* Toaster Customization */
.toast-success {
  box-shadow: none !important;
  padding: 10px 10px 10px 50px !important;
  width: 200px !important;
}

.main-field-indicator {
    color: red;
}